$default-color: #2b2b2b;
$default-font: normal normal normal 12px/16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
@font-face {
    font-family: 'BeIcons';
    src: url("//a2.behance.net/fonts/BeIcons/BeIcons.eot?cb=1382869889");
    src: url("//a2.behance.net/fonts/BeIcons/BeIcons.eot?cb=1382869889?#iefix") format("embedded-opentype"), url("//a2.behance.net/fonts/BeIcons/BeIcons.woff?cb=1382869889") format("woff"), url("//a2.behance.net/fonts/BeIcons/BeIcons.ttf?cb=1382869889") format("truetype"), url("//a2.behance.net/fonts/BeIcons/BeIcons.svg?cb=1382869889#Behance") format("svg");
    font-weight: normal;
    font-style: normal;
}


html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html, body {
  background: #f4f4f4;
}
body, .default-color {
  color: $default-color;
  font: $default-font;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.grid-site {
  max-width: 1593px;
}

.verify-warning, .grid-site {
  margin: auto;
  // max-width: 1145px;
  width: 100%;
}

.cfix {
  zoom: 1;
}
.cfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  overflow: hidden;
}

.left {
  float: left;
}
a, .fake-link {
  color: #1769ff;
}
a, .fake-link {
  color: #005CFF;
  text-decoration: none;
  cursor: pointer;
}
ul, ol, dl {
  margin: 0;
  padding: 0;
    list-style: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ul, li, ol, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
 // font-size: 100%;
}
.form-item {
  margin: 10px 0;
  position: relative;
}
.form-text {
  height: 16px;
}
.form-text, .form-textarea, .form-password {
  -webkit-appearance: none;
}
.form-text, .form-textarea {
  background: #fff;
  border-color: #cfcfcf;
  border-radius: 3px;
  box-shadow: 0 4px 5px -5px rgba(0,0,0,0.3) inset;
  width: 160px;
  padding: 6px;
  border: 1px solid #acacac;
  background-color: #fff;
  color: #3b3b3b;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
}
abbr, acronym, address, caption, cite, code, dfn, em, strong, th, var, h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}
h1 {
  font-size: 36px;
  line-height: 45px;
}
:focus {
  outline: 0;
}
.loading {
  clear: both;
}
.hide {
  display: none;
}
input, textarea, select, optgroup, option, button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: #fff;
}
select {
  visibility: hidden;
}
.clear {
  clear: both;
}
.beicons, .beicons-pre:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  font-family: 'BeIcons';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important;
  line-height: 0;
  margin-right: 5px;
  position: relative;
  text-rendering: optimizeLegibility;
  text-transform: none;
  top: 1px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

// ============ BUTTON ===========
.form-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 31px;
  line-height: 29px;
  padding: 0 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

// ====== DEFAULT ======
.form-button-default {
  background: #0079ff;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#0096ff),to(#005dff));
  background: -webkit-linear-gradient(0% 0%,0% 100%,from(#0096ff),to(#005dff));
  background: -moz-linear-gradient(center top,#0096ff,#005dff);
  background: linear-gradient(#0096ff,#005dff);
  border-color: #0071e0;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.form-button-default:active {
  box-shadow: inset 0 0 10px #083379;
}
.form-button-default:hover, .form-button-default:focus, .form-button-default:active {
  background: #016bdc;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#008aea),to(#024dcf));
  background: -webkit-linear-gradient(0% 0%,0% 100%,from(#008aea),to(#024dcf));
  background: -moz-linear-gradient(center top,#008aea,#024dcf);
  background: linear-gradient(#008aea,#024dcf);
  border-color: #0055a7;
}
.form-button-default:hover, .form-button-default:focus, .form-button-default:active {
  background: #016bdc;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#008aea),to(#024dcf));
  background: -webkit-linear-gradient(0% 0%,0% 100%,from(#008aea),to(#024dcf));
  background: -moz-linear-gradient(center top,#008aea,#024dcf);
  background: linear-gradient(#008aea,#024dcf);
  border-color: #0055a7;
}
.form-button-small {
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 23px;
  padding: 0 12px;
}

// ====== OTHER STYLES ======
.form-button-dark {
  background: #404040;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#5c5c5c),to(#252525));
  background: -webkit-linear-gradient(0% 0%,0% 100%,from(#5c5c5c),to(#252525));
  background: -moz-linear-gradient(center top,#5c5c5c,#252525);
  background: linear-gradient(#5c5c5c,#252525);
  border-color: #131313;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.form-button-dark:active {
  box-shadow: inset 0 0 7px rgba(0,0,0,0.25);
}
.form-button-dark:hover, .form-button-dark:focus, .form-button-dark:active {
  background: #333333;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#525252),to(#151515));
  background: -webkit-linear-gradient(0% 0%,0% 100%,from(#525252),to(#151515));
  background: -moz-linear-gradient(center top,#525252,#151515);
  background: linear-gradient(#525252,#151515);
  border-color: #000;
}
.dark-background .form-button {
  border-color: #000 !important;
}
.job-button {
  margin-left: 10px;
}


// ====== POPUP MENU ======
.popup.shown {
  left: 50%;
  z-index: 250;
}
.popup.menu.shown {
  -moz-transition: visibility 0 linear,-moz-transform 250ms cubic-bezier(1,0,0.12,1),opacity 250ms ease;
  -webkit-transition: visibility 0 linear,-webkit-transform 250ms cubic-bezier(1,0,0.12,1),opacity 250ms ease;
  transition: visibility 0 linear,transform 250ms cubic-bezier(1,0,0.12,1),opacity 250ms ease;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  left: 0;
  opacity: 1;
  z-index: 250;
  visibility: visible;
}
.popup.menu {
  -moz-transition: visibility 0 linear 250ms,-moz-transform 250ms cubic-bezier(1,0,0.12,1),opacity 250ms ease;
  -webkit-transition: visibility 0 linear,-webkit-transform 250ms cubic-bezier(1,0,0.12,1),opacity 250ms ease;
  -webkit-transition-delay: 250ms,0s,0s;
  transition: visibility 0 linear 250ms,transform 250ms cubic-bezier(1,0,0.12,1),opacity 250ms ease;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.5);
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 80%;
  visibility: hidden;
  z-index: 5000;
}
.popup.menu, .popup.layover {
  border: 0 none;
  -webkit-tap-highlight-color: transparent;
}
.popup-inner-wrap {
  background: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  padding: 25px 30px 26px;
}
.popup.menu .popup-inner-wrap, .popup.layover .popup-inner-wrap {
  background: #fff;
  border-radius: 4px;
  box-shadow: none;
}
.popup .popup-inner-wrap {
  padding: 0;
}
.popup-content {
  padding: 25px 0;
}
.popup.menu .popup-content {
  padding: 10px 10px 0;
}
.popup.menu.no-buttons .popup-content {
  padding-bottom: 10px;
}
.popup-buttons {
  border-radius: 0 0 4px 4px;
}

// ====== POPUP MENU DEVIDED LIST ======
.popup .divided-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  clear: both;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}
.popup .divided-list:last-child {
  margin-bottom: 0;
}
.popup.desktop .divided-list, .popup.menu .divided-list {
  max-height: 288px;
  overflow-y: auto;
  width: 100%;
}
.popup .divided-list li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
  color: #484848;
  cursor: pointer;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  padding: 10px 12px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.popup .divided-list .list-divider {
  background: #ebebeb;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f4f3f3),to(#e3e3e3));
  background: -webkit-linear-gradient(0% 0%,0% 100%,from(#f4f3f3),to(#e3e3e3));
  background: -moz-linear-gradient(center top,#f4f3f3,#e3e3e3);
  background: linear-gradient(#f4f3f3,#e3e3e3);
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0;
  border-top: 1px solid #e6e6e6;
  color: #797979;
  font-size: 11px;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  margin: 15px 0 5px;
  padding: 0 0 0 10px;
}
.popup .divided-list li:first-child {
  border-radius: 4px 4px 0 0;
}
.popup .divided-list .list-divider:first-child {
  border-top-width: 0;
  margin-top: 0;
}
.popup.menu .list-field {
  border: 0;
  padding: 0;
}
.popup .divided-list .divided-item, .popup .divided-list a {
  border-color: #e6e6e6;
  color: #484848;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.popup.desktop .divided-list .divided-item, .popup.desktop .divided-list a, .popup.menu .divided-list .divided-item, .popup.menu .divided-list a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 25px 0 10px;
}

// ====== LIST ======
.list-header {
  color: #8a8a8a;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.list-links a {
  color: #5a5a5a;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin-left: -4px;
  padding: 2px 4px;
}
.list-links a:active, .list-links a:hover {
  background: #e2e2e2;
  border-radius: 3px;
  text-decoration: none;
}
.list-links a:active {
  background: #cbcbcb;
}