
.discover-sprite-pre:before, .discover-sprite:after, .autocomplete_field_wrap:before, .search-option-content:before, .crumb .listselector-selection-display:before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-image: url("//a2.behance.net/img/sprites/discover.png?cb=490363228");
}
.filter-schools:after {
    float: right;
  margin-top: 10px;
  background-position: -739px 0;
  height: 13px;
  width: 16px;
}
.filter-schools:hover:after {
  background-position: -713px 0;
  height: 13px;
  width: 16px;
}
.filter-schools:after {
    float: right;
  margin-top: 10px;
  margin-right: -2px;
  background-position: -739px 0;
}
.filter-tools:after {
    float: right;
  margin-top: 10px;
  background-position: -787px 0;
  height: 12px;
  width: 12px;
}
.filter-tools:hover:after {
  background-position: -765px 0;
  height: 12px;
  width: 12px;
}
.filter-color:after {
    float: right;
  margin-top: 10px;
  background-position: -641px 0;
  height: 14px;
  width: 10px;
}
.filter-color:hover:after {
  background-position: -621px 0;
  height: 14px;
  width: 10px;
}
.beicons-pre-discover:before {
  content: 'a';
}
.beicons-pre-follow:before {
  content: '_';
}
.beicons-pre-badge:before {
  content: '8';
}
.beicons-pre-suitcase:before {
  content: 'Z';
}
.beicons-pre-add:before {
  content: 'g';
}
.beicons-pre-grid:before {
  content: ':';
  top: 3px;
}
.beicons-pre-wip:before {
  content: 'S';
  top: 2px;
}
.beicons-pre-owner:before {
  content: '^';
}
.beicons-pre-privacy:before {
  content: 'E';
}
.beicons-pre-members:before {
  content: ']';
}
.beicons-pre-owner:before {
  content: '^';
}
.beicons-pre-members:before {
  content: ']';
}
.beicons-pre-prosite:before {
  content: 'W';
}
.beicons-pre-mail:before {
  content: 'A';
  top: 2px;
}
.beicons-pre-bell:before {
  content: 'C';
  top: 3px;
}
.beicons-pre-location:before {
  content: 'B';
  top: 2px;
}
.beicons-pre-mail:before {
  content: 'A';
  top: 2px;
}
.beicons-pre-eye:before {
  content: '@';
  left: -1px;
  top: 3px;
}
.beicons-pre-thumb:before {
  content: '?';
  top: 2px;
}
.beicons-pre-followers:before {
  content: '`';
  top: 3px;
}
.beicons-pre-following:before {
  content: '_';
  top: 3px;
}
.sort:hover:after, .sort.active:after {
  background-position: -122px 0;
}

.sort-appreciations:before {
  background-position: -895px 0;
  height: 12px;
  width: 13px;
}
.sort-featured_date:before {
  background-position: -1028px 0;
  height: 15px;
  width: 12px;
}
.sort-featured_date.active:before {
  background-position: -984px 0;
  height: 15px;
  width: 12px;
}
.sort-views:before {
  background-position: -1464px 0;
  height: 10px;
  width: 14px;
}
.sort-comments:before {
  background-position: -962px 0;
  height: 13px;
  width: 12px;
}
.sort-published_date:before {
  background-position: -1239px 0;
  height: 14px;
  width: 14px;
}

.form-button-icon-follow:before {
  background-position: -97px -111px;
}
.form-button-icon-following:before {
  background-position: -116px -111px;
}
.form-button-icon-unfollow:before {
  background-position: -323px -112px;
}
.profile-web-reference:after {
  content: ' \2192';
}