doctype html
html(lang="en", ng-app="NewApp")
  head
    title= pageTitle
    link(type="text/css",rel="stylesheet",href="/styles/basic.css")
    link(type="text/css",rel="stylesheet",href="/styles/layout.css")
    link(type="text/css",rel="stylesheet",href="/styles/icons.css")
    link(type="text/css",rel="stylesheet",href="/styles/gallery.css")

    //- script(src="bower_components/jquery/dist/jquery.min.js")
    //- script(src='scripts/index.js')

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/about.js")
    script(src="scripts/components/sorter.js")
    <!-- endbuild -->

  body.logged-out.corepacki.networki.responsive.section-gallery.viewing-projects.be-network.no-has-touch.has-placeholders.globalnav__external__no-touch(ng-controller="MainCtrl")
    nav#nav-wrap.js-nav-primary.dark-background
      h1#logo
      #nav-primary-wrap
        ul#nav-primary.nav-list
          li.nav-item
            a.nav-item-link.active Discover
            ul.nav-submenu
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-discover  Search & Explore
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-follow  Creatives to Follow
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-follow  Creatives to Follow
          li.nav-item
            a.nav-item-link.active Jobs
            ul.nav-submenu
          li.nav-joblist Hiring Talent?
          a.job-button.js-job-button.form-button.form-button-small.form-button-dark Post a Job
      #nav-upsell-wrap
        ul#nav-upsell.nav-list Showcase & Discover Creative Work
          a#sign-up-button.js-adobeid-signup.form-button.form-button-small.form-button-default Sign Up for Free
          li.nav-joblist Hiring Talent?
            a.job-button.js-job-button.form-button.form-button-small.form-button-dark Post a Job?
      #nav-login
        a#login-link.js-adobeid-signin.beicons-pre.beicons-pre-privacy  log in
    #top-panel.slide-panel
      a#top-panel-blocking
      .toolbar

    #top-panel.slide-panel

      a#top-panel-blocking
      #site-content
        #project-wrap.js-project-wrap.v-5
          #project.js-project.breakpoint-comments(data-id='25640511', data-mature_content='0', data-mature_access='allowed', style='max-width: 1400px;')
            #project-header.unclickable-mask
              #project-basic-info-wrap
                .project-title.js-project-title
                  #project-name.beicons-pre.beicons-pre-edit.js-project-name The Qontinent

                #project-fields
                  ul#project-fields-list
                    li.project-fields-field
                      a(href='/search?field=122') Digital Art

                    li.project-fields-field
                      a(href='/search?field=44') Graphic Design

                    li.project-fields-field
                      a(href='/search?field=48') Illustration

                #project-stats
                  .project-stat.beicons-pre.beicons-pre-eye 6245
                  .project-stat.beicons-pre.beicons-pre-thumb.js-stats-appreciations 1335
                  .project-stat.beicons-pre.beicons-pre-comment 92

                #features
                  .featured-ribbon.tooltipi-container
                    a(href='https://www.behance.net/gallery/25640511/The-Qontinent')
                      picture
                        source(srcset='https://a2.behance.net/img/galleries/ribbons/2x/net@2x.png?cb=490363228', media='(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)')
                        img(src='https://a2.behance.net/img/galleries/ribbons/1x/net.png?cb=490363228')

            #primary-project-content.project-styles.zero-top
              #project-canvas.project-styles
                #project-modules
                  #project-spacer
                    img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABXgAAAABCAYAAABkHsaZAAAAH0lEQVRYw+3DAQkAAAwEoe9f+pZjoOCqqaqqqqr67wH2oViJHh1OqwAAAABJRU5ErkJggg==')

                  .js-project-module-image-hd.project-module.module.image.project-module-image.image-full.project-module-image-full(data-hd-src='https://m1.behance.net/rendition/modules/170515095/hd/6382cdf4d43e9f2e10a5e328f0f002a0.jpg', data-fancybox-group='gallery', href='https://m1.behance.net/rendition/modules/170515095/hd/6382cdf4d43e9f2e10a5e328f0f002a0.jpg', style='cursor: zoom-in;')
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170515095/disp/6382cdf4d43e9f2e10a5e328f0f002a0.jpg?cb=490363228', media='(max-width: 600px)')

                        source(srcset='https://m1.behance.net/rendition/modules/170515095/1400/6382cdf4d43e9f2e10a5e328f0f002a0.jpg?cb=490363228', media='(min-width: 601px)')

                        img(src='https://m1.behance.net/rendition/modules/170515095/1400/6382cdf4d43e9f2e10a5e328f0f002a0.jpg?cb=490363228')

                  .spacer
                    .divider

                  .js-project-module-image-hd.project-module.module.image.project-module-image.image-full.project-module-image-full(data-hd-src='https://m1.behance.net/rendition/modules/170515097/hd/6de9802d59c11af2e326c57647c568d6.jpg', data-fancybox-group='gallery', href='https://m1.behance.net/rendition/modules/170515097/hd/6de9802d59c11af2e326c57647c568d6.jpg', style='cursor: zoom-in;')
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170515097/disp/6de9802d59c11af2e326c57647c568d6.jpg?cb=490363228', media='(max-width: 600px)')

                        source(srcset='https://m1.behance.net/rendition/modules/170515097/1400/6de9802d59c11af2e326c57647c568d6.jpg?cb=490363228', media='(min-width: 601px)')

                        img(src='https://m1.behance.net/rendition/modules/170515097/1400/6de9802d59c11af2e326c57647c568d6.jpg?cb=490363228')

                  .spacer
                    .divider

                  .js-project-module-image-hd.project-module.module.image.project-module-image.image-full.project-module-image-full(data-hd-src='https://m1.behance.net/rendition/modules/170515099/hd/13c7b1952ed2afc2ffdbd3d471734163.jpg', data-fancybox-group='gallery', href='https://m1.behance.net/rendition/modules/170515099/hd/13c7b1952ed2afc2ffdbd3d471734163.jpg', style='cursor: zoom-in;')
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170515099/disp/13c7b1952ed2afc2ffdbd3d471734163.jpg?cb=490363228', media='(max-width: 600px)')

                        source(srcset='https://m1.behance.net/rendition/modules/170515099/1400/13c7b1952ed2afc2ffdbd3d471734163.jpg?cb=490363228', media='(min-width: 601px)')

                        img(src='https://m1.behance.net/rendition/modules/170515099/1400/13c7b1952ed2afc2ffdbd3d471734163.jpg?cb=490363228')

                  .spacer
                    .divider

                  .js-project-module-image-hd.project-module.module.image.project-module-image.image-full.project-module-image-full(data-hd-src='https://m1.behance.net/rendition/modules/170518025/hd/aaa1d1d2148c9ebd1b9e9a7773e20203.jpg', data-fancybox-group='gallery', href='https://m1.behance.net/rendition/modules/170518025/hd/aaa1d1d2148c9ebd1b9e9a7773e20203.jpg', style='cursor: zoom-in;')
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170518025/disp/aaa1d1d2148c9ebd1b9e9a7773e20203.jpg?cb=490363228', media='(max-width: 600px)')

                        source(srcset='https://m1.behance.net/rendition/modules/170518025/1400/aaa1d1d2148c9ebd1b9e9a7773e20203.jpg?cb=490363228', media='(min-width: 601px)')

                        img(src='https://m1.behance.net/rendition/modules/170518025/1400/aaa1d1d2148c9ebd1b9e9a7773e20203.jpg?cb=490363228')

                  .spacer
                    .divider

                  .spacer
                    .divider

                  .js-project-module-image-hd.project-module.module.image.project-module-image.image-full.project-module-image-full(data-hd-src='https://m1.behance.net/rendition/modules/170518023/hd/ac49da42005e0fd050fa987fd7557da7.jpg', data-fancybox-group='gallery', href='https://m1.behance.net/rendition/modules/170518023/hd/ac49da42005e0fd050fa987fd7557da7.jpg', style='cursor: zoom-in;')
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170518023/disp/ac49da42005e0fd050fa987fd7557da7.jpg?cb=490363228', media='(max-width: 600px)')

                        source(srcset='https://m1.behance.net/rendition/modules/170518023/1400/ac49da42005e0fd050fa987fd7557da7.jpg?cb=490363228', media='(min-width: 601px)')

                        img(src='https://m1.behance.net/rendition/modules/170518023/1400/ac49da42005e0fd050fa987fd7557da7.jpg?cb=490363228')

                  .spacer
                    .divider

                  .project-module.module.image.project-module-image
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170520339/disp/1d395fecaa324ef2569caabe0133d9db.gif?cb=490363228', media='(max-width: 633px)')

                        img(src='https://m1.behance.net/rendition/modules/170520339/disp/1d395fecaa324ef2569caabe0133d9db.gif?cb=490363228')

                  .spacer
                    .divider

                  .js-project-module-image-hd.project-module.module.image.project-module-image.image-full.project-module-image-full(data-hd-src='https://m1.behance.net/rendition/modules/170518027/hd/1e3c68bfce5c21bc7e72aabd41358d6e.jpg', data-fancybox-group='gallery', href='https://m1.behance.net/rendition/modules/170518027/hd/1e3c68bfce5c21bc7e72aabd41358d6e.jpg', style='cursor: zoom-in;')
                    .project-module-image-inner-wrap
                      picture
                        source(srcset='https://m1.behance.net/rendition/modules/170518027/disp/1e3c68bfce5c21bc7e72aabd41358d6e.jpg?cb=490363228', media='(max-width: 600px)')

                        source(srcset='https://m1.behance.net/rendition/modules/170518027/1400/1e3c68bfce5c21bc7e72aabd41358d6e.jpg?cb=490363228', media='(min-width: 601px)')

                        img(src='https://m1.behance.net/rendition/modules/170518027/1400/1e3c68bfce5c21bc7e72aabd41358d6e.jpg?cb=490363228')

                  .spacer
                    .divider

                #appreciation.show-on-preview.unclickable-mask.appreciation-button.js-appreciate
                  #sticker
                    .thumb.beicons-pre.beicons-pre-thumb

                    .text Thank You!

                  .js-appreciation-date.project-appreciation-date.beicons-pre.beicons-pre-thumb

            #project-owner-bar.cfix.show-on-preview.unclickable-mask
              #project-owner-bar-inner
                #project-owner-bar-info
                  .project-owner-info.single-owner-info.project-owner-info--owner-bar
                    .profile-list
                      a.normal-link.profile-list-image-wrap.js-mini-profile(href='https://www.behance.net/frenchtoast', data-id='2076627')
                        img.profile-list-image(src='https://mir-s3-cdn-cf.behance.net/user/115/2076627.53b784b2141f3.jpg')

                      .profile-list-info.profile-list-info-row
                        .profile-list-name
                          a.normal-link.js-mini-profile(data-id='2076627', href='https://www.behance.net/frenchtoast') French Toast
                        .profile-location
                          a.profile-list-location-link.beicons-pre.beicons-pre-location(href='/search?content=users&sort=appreciations&country=BE&city=Li%C3%A8ge') Li&egrave;ge, Belgium
                    .project-owner-actions.dark-background
                        .user-follow.js-action-follow-user.follow-button-container
                          a.form-button.form-button-follow.form-button-default.form-button-left-icon.form-button-icon-follow Follow
                        .profile-action.user-message
                          a.form-button-light-and-grey.form-button.js-action-message-user.js-adobeid-signup.beicons-pre.beicons-pre-mail(title='Message User', data-contact_name='French Toast', data-contact_id='2076627', unselectable='on') Message
                  span.complete Complete
                    Profile &rarr;

            #other-projects.unclickable-mask
              .js-item.cover-block.project-cover.js-project-cover.editable.cfix(data-id='24198175')
                .cover-img
                  a.cover-img-link(href='https://www.behance.net/gallery/24198175/Metronome-Jazz-Club')
                    picture.cover-img-el
                      source(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/3949a524198175.552f7476929f3.png, https://mir-s3-cdn-cf.behance.net/projects/404/3949a524198175.552f7476929f3.png 2x', media='(-webkit-min-device-pixel-ratio: 1.3),\
                      (min--moz-device-pixel-ratio: 1.3),\
                      (-o-min-device-pixel-ratio: 4/3),\
                      (min-device-pixel-ratio: 1.3),\
                      (min-resolution: 1.3dppx)')
                      //if IE 9

                      img(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/3949a524198175.552f7476929f3.png, https://mir-s3-cdn-cf.behance.net/projects/404/3949a524198175.552f7476929f3.png 2x', alt='Metronome Jazz Club')

                .cover-info-stats
                  .cover-info
                    .cover-name
                      a.projectName.cover-name-link(href='https://www.behance.net/gallery/24198175/Metronome-Jazz-Club') Metronome Jazz Club

                    .cover-by-wrap
                      .cover-by by

                      .cover-by-link
                        a.text-ellipsis.single-owner-link(href='https://www.behance.net/frenchtoast')
                          span.js-mini-profile(data-id='2076627') French Toast
                  .cover-stat-fields-wrap
                    .cover-stat-wrap
                      span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb 263

                    .cover-fields
                      a.field-link(href='/search?field=109', title='Branding') Branding,

                      a.field-link(href='/search?field=44', title='Graphic Design') Graphic Design

              .js-item.cover-block.project-cover.js-project-cover.editable.cfix(data-id='20885571')
                .cover-img
                  a.cover-img-link(href='https://www.behance.net/gallery/20885571/Brussels-HIP-HOP')
                    picture.cover-img-el
                      //if IE 9
                        video(style='display: none;')

                      source(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/20885571.5485991252ce0.png, https://mir-s3-cdn-cf.behance.net/projects/404/20885571.5485991252ce0.png 2x', media='(-webkit-min-device-pixel-ratio: 1.3),\
                      (min--moz-device-pixel-ratio: 1.3),\
                      (-o-min-device-pixel-ratio: 4/3),\
                      (min-device-pixel-ratio: 1.3),\
                      (min-resolution: 1.3dppx)')
                      //if IE 9

                      img(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/20885571.5485991252ce0.png, https://mir-s3-cdn-cf.behance.net/projects/404/20885571.5485991252ce0.png 2x', alt='Brussels HIP HOP')

                .cover-info-stats
                  .cover-info
                    .cover-name
                      a.projectName.cover-name-link(href='https://www.behance.net/gallery/20885571/Brussels-HIP-HOP') Brussels HIP HOP

                    .cover-by-wrap
                      .cover-by by

                      .cover-by-link
                        a.text-ellipsis.single-owner-link(href='https://www.behance.net/frenchtoast')
                          span.js-mini-profile(data-id='2076627') French Toast
                  .cover-stat-fields-wrap
                    .cover-stat-wrap
                      span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb 1122

                    .cover-fields
                      a.field-link(href='/search?field=44', title='Graphic Design') Graphic Design,

                      a.field-link(href='/search?field=48', title='Illustration') Illustration

              .js-item.cover-block.project-cover.js-project-cover.editable.cfix(data-id='19977995')
                .cover-img
                  a.cover-img-link(href='https://www.behance.net/gallery/19977995/The-Titans')
                    picture.cover-img-el
                      source(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/19977995.54462637d3aad.png, https://mir-s3-cdn-cf.behance.net/projects/404/19977995.54462637d3aad.png 2x', media='(-webkit-min-device-pixel-ratio: 1.3),\
                      (min--moz-device-pixel-ratio: 1.3),\
                      (-o-min-device-pixel-ratio: 4/3),\
                      (min-device-pixel-ratio: 1.3),\
                      (min-resolution: 1.3dppx)')
                      //if IE 9

                      img(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/19977995.54462637d3aad.png, https://mir-s3-cdn-cf.behance.net/projects/404/19977995.54462637d3aad.png 2x', alt='The Titans')

                .cover-info-stats
                  .cover-info
                    .cover-name
                      a.projectName.cover-name-link(href='https://www.behance.net/gallery/19977995/The-Titans') The Titans

                    .cover-by-wrap
                      .cover-by by

                      .cover-by-link
                        a.text-ellipsis.single-owner-link(href='https://www.behance.net/frenchtoast')
                          span.js-mini-profile(data-id='2076627') French Toast
                  .cover-stat-fields-wrap
                    .cover-stat-wrap
                      span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb 1163
                    .cover-fields
                      a.field-link(href='/search?field=122', title='Digital Art') Digital Art,

                      a.field-link(href='/search?field=44', title='Graphic Design') Graphic Design

              .js-item.cover-block.project-cover.js-project-cover.editable.cfix(data-id='19076515')
                .cover-img
                  a.cover-img-link(href='https://www.behance.net/gallery/19076515/POWR')
                    picture.cover-img-el
                      source(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/19076515.548ee22a7ccb7.png, https://mir-s3-cdn-cf.behance.net/projects/404/19076515.548ee22a7ccb7.png 2x', media='(-webkit-min-device-pixel-ratio: 1.3),\
                      (min--moz-device-pixel-ratio: 1.3),\
                      (-o-min-device-pixel-ratio: 4/3),\
                      (min-device-pixel-ratio: 1.3),\
                      (min-resolution: 1.3dppx)')
                      //if IE 9

                      img(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/19076515.548ee22a7ccb7.png, https://mir-s3-cdn-cf.behance.net/projects/404/19076515.548ee22a7ccb7.png 2x', alt="POW'R")

                .cover-info-stats
                  .cover-info
                    .cover-name
                      a.projectName.cover-name-link(href='https://www.behance.net/gallery/19076515/POWR') POW&apos;R

                    .cover-by-wrap
                      .cover-by by

                      .cover-by-link
                        a.text-ellipsis.single-owner-link(href='https://www.behance.net/frenchtoast')
                          span.js-mini-profile(data-id='2076627') French Toast
                  .cover-stat-fields-wrap
                    .cover-stat-wrap
                      span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb 1650
                    .cover-fields
                      a.field-link(href='/search?field=109', title='Branding') Branding

                      a.field-link(href='/search?field=132', title='UI/UX') UI/UX

              .js-item.cover-block.project-cover.js-project-cover.editable.cfix(data-id='13061731')
                .cover-img
                  a.cover-img-link(href='https://www.behance.net/gallery/13061731/Welo-Identity')
                    picture.cover-img-el
                      //if IE 9
                        video(style='display: none;')

                      source(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/13061731.548389d5bdff0.png, https://mir-s3-cdn-cf.behance.net/projects/404/13061731.548389d5bdff0.png 2x', media='(-webkit-min-device-pixel-ratio: 1.3),\
                      (min--moz-device-pixel-ratio: 1.3),\
                      (-o-min-device-pixel-ratio: 4/3),\
                      (min-device-pixel-ratio: 1.3),\
                      (min-resolution: 1.3dppx)')
                      //if IE 9

                      img(srcset='https://mir-s3-cdn-cf.behance.net/projects/202/13061731.548389d5bdff0.png, https://mir-s3-cdn-cf.behance.net/projects/404/13061731.548389d5bdff0.png 2x', alt='Welo Identity')

                .cover-info-stats
                  .cover-info
                    .cover-name
                      a.projectName.cover-name-link(href='https://www.behance.net/gallery/13061731/Welo-Identity') Welo Identity

                    .cover-by-wrap
                      .cover-by by

                      .cover-by-link
                        a.text-ellipsis.single-owner-link(href='https://www.behance.net/frenchtoast')
                          span.js-mini-profile(data-id='2076627') French Toast
                  .cover-stat-fields-wrap
                    .cover-stat-wrap
                      span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb 4731
                    .cover-fields
                      a.field-link(href='/search?field=109', title='Branding') Branding

                      a.field-link(href='/search?field=44', title='Graphic Design') Graphic Design

              a.view-profile.show-phone(href='https://www.behance.net/frenchtoast') View Complete Profile &rarr;

            #project-footer.show-on-preview.unclickable-mask.cfix
              #project-footer-inner
                #project-block-footer-comments.project-block
                  h3.project-block-header Comments
                    span.js-comments-total (92)

                  .post-comment-logged-out You must
                    a.js-adobeid-signup.link-login.fake-link sign up to join the conversation.
                  div
                    ul.js-comments-list.comments-list
                      li.comment-container.cfix.user-comment(data-id='21130573', style='display: list-item;')
                        a.comment-user-image-link.left(href='https://www.behance.net/Madjid-')
                          img.comment-user-image.js-mini-profile(data-id='5270781', src='https://mir-s3-cdn-cf.behance.net/user/50/586de85270781.55398ee218661.jpg')
                        .comment-text-container.left.relative
                          .comment-user-date-wrap.ui-corner.cfix
                            a.user-name-link.bold.js-mini-profile(data-id='5270781', href='https://www.behance.net/') Madjid Hadj Kouider
                            span.comment-date About 36 minutes ago
                          .comment-text-wrap
                            .comment-text Please check out my work here
                              a(rel='nofollow', href='http://www.behance.net/Madjid-', target='_blank') https://www.behance.net/Madjid-
                        .comment-actions

          #project-sidebar.show-on-preview.unclickable-mask.js-project-sidebar-wrap
            .project-sidebar-spacer
              .js-project-sidebar.sticky-project-sidebar
                .sidebar-group
                  #project-block-sidebar-owner.project-block
                    h3.project-block-header Project by
                    .project-owner-info.single-owner-info.project-owner-info--header
                      .profile-list
                        a.normal-link.profile-list-image-wrap.js-mini-profile(href='https://www.behance.net/frenchtoast', data-id='2076627')
                          img.profile-list-image(src='https://mir-s3-cdn-cf.behance.net/user/115/2076627.53b784b2141f3.jpg')
                        .profile-list-info.profile-list-info-row
                          .profile-list-name
                            a.normal-link.js-mini-profile(data-id='2076627', href='https://www.behance.net/frenchtoast') French Toast
                          .profile-location
                            a.profile-list-location-link.beicons-pre.beicons-pre-location(href='/search?content=users&sort=appreciations&country=BE&city=Li%C3%A8ge') Li&egrave;ge, Belgium
                      .project-owner-actions
                        .user-follow.js-action-follow-user.follow-button-container
                          a.form-button.form-button-follow.form-button-default.form-button-left-icon.form-button-icon-follow Follow
                        .profile-action.user-message
                          a.form-button-light-and-grey.form-button.js-action-message-user.js-adobeid-signup.beicons-pre.beicons-pre-mail(title='Message User', data-contact_name='French Toast', data-contact_id='2076627', unselectable='on') Message
                  #project-block-sidebar-about.project-block.hide-sticky
                    h3.project-block-header About

                    .variable-text.variable-text-short.js-more-toggle
                      | The Qontinent: The Last Resort
                      | The Qontinent is a hard dance outdoor festival taking place in Belgium .
                      | This year theme is The Last Resort . We &mldr;
                      | span.js-more-toggle-link.fake-link Read More
                    .variable-text.variable-text-full.hide(style='overflow: hidden;')
                      | The Qontinent: The Last Resort
                      | The Qontinent is a hard dance outdoor festival taking place in Belgium .
                      | This year theme is The Last Resort . We tried to find a good balance between some post apocaliptic feeling and a sunny &amp; warm atmosphere .
                      | We got inspired by illustrators like Olly Moss. We tried to combine their approach with our  digital art style.
                      span.js-more-toggle-link.fake-link Read Less
                    .project-published
                      span.js-updating-timestamp(data-timestamp='1430920765') May 6, 2015
                .sidebar-group.sticky-sidebar-buttons.show-sticky
                  .project-block
                    .appreciation-button.js-appreciate
                      .form-item.form-item-a.form-item-appreciate
                        a.form-button.thumb.form-button-default.form-button-large(unselectable='on', tabindex='0')
                          span.beicons-pre.beicons-pre-thumb Appreciate Project
                      .form-item.form-item-a.form-item-thanks
                        a.form-button.text.form-button-dark.form-button-large(unselectable='on', tabindex='0')
                          span Thank you!
                      .js-appreciation-date.project-appreciation-date.beicons-pre.beicons-pre-thumb
                    .form-item.form-item-a
                      a.form-button.form-button-light-and-blue.form-button-large.js-action-collection(data-id='25640511', unselectable='on', tabindex='0')
                        span.beicons-pre.beicons-pre-collection Add to Collection
