doctype html
html(lang="en", ng-app="NewApp")
  head
    title= pageTitle
    link(type="text/css",rel="stylesheet",href="/styles/basic.css")
    link(type="text/css",rel="stylesheet",href="/styles/layout.css")
    link(type="text/css",rel="stylesheet",href="/styles/icons.css")

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src='scripts/index.js')

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/about.js")
    script(src="scripts/components/sorter.js")
    <!-- endbuild -->


  body.logged-out.corepacki.networki.responsive.section-gallery.viewing-projects.be-network.no-has-touch.has-placeholders.globalnav__external__no-touch(ng-controller="MainCtrl")


    nav#nav-wrap.js-nav-primary.dark-background.can-scrolled
      h1#logo
        a#logo-link
      #nav-primary-wrap
        ul#nav-primary.nav-list
          li.nav-item
            a.nav-item-link.active Discover
            ul.nav-submenu
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-discover  Search & Explore
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-follow  Creatives to Follow
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-badge  Galleries & Collections
          li.nav-item
            a.nav-item-link.active Jobs
            ul.nav-submenu
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-suitcase  Creative Jobs
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-add  Post a Job
          li.nav-joblist Hiring Talent?
          a.job-button.js-job-button.form-button.form-button-small.form-button-dark Post a Job
      #nav-upsell-wrap
        ul#nav-upsell.nav-list Showcase & Discover Creative Work
          a#sign-up-button.js-adobeid-signup.form-button.form-button-small.form-button-default Sign Up for Free
          li.nav-joblist Hiring Talent?
            a.job-button.js-job-button.form-button.form-button-small.form-button-dark Post a Job?
      #nav-login
        a#login-link.js-adobeid-signin.beicons-pre.beicons-pre-privacy  log in
    #top-panel.slide-panel
      a#top-panel-blocking
      .toolbar

      #showcase-and-discover.cta-header.dark-background
        h1.cta-header-title Showcase & Discover Creative Work
        span.hide-phone
          a.js-adobeid-signup.form-button.form-button-xlarge.form-button-default Sign Up

      #site-content(ng-view)
        #sorts-container-sticky-wrapper.sticky
          #sorts-container
            #sorts.grid-site.js-sorts
              span.sort.js-sort-content.sort-content.discover-sprite(sorter, sorttype="content")
                span.js-sort-label.sort-label.beicons-pre.beicons-pre-grid Projects
                .popup.menu.no-buttons.no-title(ng-class="{shown: sorters.content}")
                  .popup-inner-wrap
                    .popup-content
                      .list-header View
                      ul.sort-content-list
                        li
                          a.beicons-pre.beicons-pre-grid.js-content-type.active Projects
                        li
                          a.beicons-pre.beicons-pre-wip.js-content-type Work in Progress
                        li
                          a.beicons-pre.beicons-pre-owner.js-content-type People
                        li
                          a.beicons-pre.beicons-pre-members.js-content-type Teams
                    .popup-buttons.hide

              span.sort.js-sort-fields.sort-fields.hide-wip.discover-sprite(sorter, sorttype="fields")
                span.js-sort-label.sort-label.sort-label-fields All Creative Fields
                .popup.menu.no-buttons.creative-fields(ng-class="{shown: sorters.fields}")
                  .popup-inner-wrap
                    .popup-content
                      #fields-menu.cfix
                        .submenu.left-menu.left
                          .list-header Popular
                          ul#popular-fields-list.js-fields-list
                            li(ng-repeat='item in FieldItems')
                              a(href='#{{item.dataKey}}') {{item.name}}

              span.sort.js-sort-content.sort-featured.discover-sprite(sorter, sorttype="featured")
                span.js-sort-label.sort-label Featured
                .popup.menu.no-buttons.reative-fields(ng-class="{shown: sorters.featured}")
                  .popup-inner-wrap
                    .popup-content
                      #featured-menu.sort-menu.cfix.desktop-list
                        .list-header Browse
                        ul#browse-list.divided-list
                          li.list-browse.sort-item-featured_date
                            a(href="?sort=featured_date").discover-sprite-pre.discover-sprite.sort-item.sort-featured_date.active Featured
                          li.list-browse.sort-item-appreciations
                            a(href="?sort=appreciations").discover-sprite-pre.discover-sprite.sort-item.sort-appreciations Most Appreciated
                          li.list-browse.sort-item-views
                            a(href="?sort=views").discover-sprite-pre.discover-sprite.sort-item.sort-views Most Viewed
                          li.list-browse.sort-item-comments
                            a(href="?sort=comments").discover-sprite-pre.discover-sprite.sort-item.sort-comments Most Discussed
                          li.list-browse.sort-item-published_date
                            a(href="?sort=published_date").discover-sprite-pre.discover-sprite.sort-item.sort-published_date Most Recent
                          li.list-browse.sort-item-followed.hide
                            a(href="?sort=followed").discover-sprite-pre.discover-sprite.sort-item.sort-followed Most Followed

              span.sort.js-sort-content.sort-location.discover-sprite(sorter, sorttype="discover")
                span.js-sort-label.sort-label Worldwide
                .popup.menu.no-buttons.location-menu(ng-class="{shown: sorters.discover}")
                  .popup-inner-wrap
                    .popup-content
                      div.sort-menu.search-option
                        div.search-option-header Location
                        div.search-option-content
                          div.country-container.form-item
                              label Country
                              select.js-country.country.form-select.ui-selectmenu-large(style="display: none;")
                                option.form-option.form-option-empty(value="--") Select a Country
                                option.form-option(value="United States") United States
                              a.ui-selectmenu.ui-widget.ui-state-default.ui-selectmenu-dropdown.js-country.country.form-select.ui-selectmenu-large.form-option.form-option-empty.ui-state-active.ui-corner-top#ui-selectmenu-fa8af9c-button
                                span.ui-selectmenu-status Select a Country
                                span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s
                          div.city-container.form-item.ui-front
                              label City
                              span.ui-helper-hidden-accessible
                              input(type="text",disabled="disabled").js-city.city.form-text.form-text-normal.disabled.ui-autocomplete-input
                        div.search-option-confirm.clear
                          span.js-apply.form-button.form-button-small.form-button-default.left Apply
                          span.js-clear.search-option-cancel.discover-sprite-pre.right.hide Clear


            #breadcrumbs-container.listselector_selections

        #content-wrapper
          #content-container.grid-site.cfix
            #content.border-box.left.cfix.users-gallery-container.projects(infinite-scroll="itemLoad.nextPage()",infinite-scroll-disabled='itemLoad.busy', infinite-scroll-distance="0")
              .discover-loading-spinner.loading-spinner.ignore-me
                .spinner(aria-role='progressbar')
              .covers
                .js-item.cover-block.project-cover.js-project-cover.editable.cfix.first(data-id='{{item.dataId}}', data-ordinal='{{item.dataOrdinal}}', ng-repeat='item in itemLoad.items')
                  .cover-img
                    a.cover-img-link(href='{{item.coverImgLink}}')
                      div(data-picture)
                        img.cover-img-el(src= '{{item.coverImgSrc}}')
                  .cover-info-stats
                    .cover-info
                      .cover-name
                        a.projectName.cover-name-link(href='{{item.coverNameLink}}') {{item.coverName}}
                      .cover-by-wrap
                        .cover-by by
                        .cover-by-link
                          a.text-ellipsis.single-owner-link
                          span.js-mini-profile {{item.author}}
                    .cover-stats-fields-wrap
                      .cover-stat-wrap
                        span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb {{item.appreciation}}
                        span.cover-stat.cover-stat-views.beicons-pre.beicons-pre-eye.hide-phone {{item.views}}
                        span.featured.tooltipi-container.beicons-pre.beicons-pre-featured-small
                      .cover-fields
                        a.field-link(ng-repeat='tag in item', href='{{tag.link}}') {{tag.name}},
              div(ng-show='itemLoad.busy').loading Loading...



            #filters.border-box.left
              #sidebar-fields.filter-block.hide-wip.menu-closed
                div.list-header.discover-sprite-pre Popular Creative Fields
                ul.list-links
                  li
                    a Graphic Design
                  li
                    a Graphic Design
                  li
                    a Graphic Design
                  li
                    a Graphic Design
              .filter-block
                #search-container.form-item.form-item-text.be-placeholder.ui-front
                  span.ui-helper-hidden-accessible
                  input.form-text.form-text.form-search.js-discover-search.validate.ui-autocomplete-input
                  ul#ul-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all(name='search', type='text')

              #sidebar-fixed-sticky-wrapper.sticky
                #sidebar-fixed
                  .filter-block.hide-wip
                    .list-header.hide-teams Filter by
                    ul#filter-menu.block-menu.hide-teams
                      li.filter
                        .menu-item.filter-schools.discover-sprite Schools
                      li.filter.filter-temp-last
                        .menu-item.filter-tools.discover-sprite Tool Used
                      li.filter.hide-users
                        .menu-item.filter-color.discover-sprite Color
      #infinity-footer.js-footer
    #nav-basement.js-nav-basement
