<!DOCTYPE html>
<html lang="en" ng-app="NewApp">
  <head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/styles/basic.css">
    <link type="text/css" rel="stylesheet" href="/styles/layout.css">
    <link type="text/css" rel="stylesheet" href="/styles/icons.css">
    <link type="text/css" rel="stylesheet" href="/styles/profile.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/index.js"></script><!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script><!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script><!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl" class="logged-in logged-in-1 corepacki networki responsive profile profile-page show-cta profile-creative be-network no-has-touch has-placeholders globalnav__external__no-touch">
    <nav id="nav-wrap" class="js-nav-primary dark-background cannot-scrolled">
      <h1 id="logo"></h1><!-- ======= -->
      <ul id="notification">
        <li id="inbox-icon" class="notifications-icon notifications-inbox-icon js-email-menu beicons-pre beicons-pre-mail">
          <div class="notifications-count">0</div>
        </li>
        <li id="bell-icon" class="notifications-icon js-bell-menu beicons-pre beicons-pre-bell">
          <div class="notifications-count">0</div>
        </li>
      </ul><!-- ======= -->
      <div id="nav-primary-wrap">
        <ul id="nav-primary" class="nav-list">
          <li class="nav-item"><a class="nav-item-link active">Activity</a></li>
          <li class="nav-item"><a class="nav-item-link active">Discover</a>
            <ul class="nav-submenu">
              <li class="nav-item"><a class="nav-item-link active beicons-pre beicons-pre-discover"> Search & Explore</a></li>
              <li class="nav-item"><a class="nav-item-link active beicons-pre beicons-pre-follow"> Creatives to Follow</a></li>
              <li class="nav-item"><a class="nav-item-link active beicons-pre beicons-pre-follow"> Creatives to Follow</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-item-link active">My Portofolio</a>
            <ul class="nav-submenu">
              <li class="nav-item"><a class="nav-item-link active beicons-pre beicons-pre-owner"> My Profile</a></li>
              <li class="nav-item"><a class="nav-item-link active beicons-pre beicons-pre-members"> My Team Page</a></li>
              <li class="nav-item"><a class="nav-item-link active beicons-pre beicons-pre-prosite"> My ProSite</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-item-link active">Jobs</a>
            <ul class="nav-submenu"></ul>
          </li>
          <li class="nav-joblist">Hiring Talent? </li><a class="job-button js-job-button form-button form-button-small form-button-dark">Post a Job</a>
        </ul>
      </div>
      <div id="nav-login"><a id="login-link" class="js-adobeid-signin beicons-pre beicons-pre-privacy"> log in</a></div>
    </nav>
    <div id="top-panel" class="slide-panel"><a id="top-panel-blocking"></a>
      <div class="toolbar"></div>
      <div id="site-content">
        <div id="profile-header-actions" class="layout-wrap js-profile-header-actions">
          <div id="navmenui-breadcrumbs" class="js-navmenui-breadcrumbs"><span class="breadcrumb-text"><a>Discover</a></span><span class="rarr">→</span><span class="breadcrumb-text">Violaine & Jeremy</span></div>
        </div>
        <div id="profile" class="content-container layout-wrap">
          <div id="profile-info" class="profile-section content-minor-section content-mobile-major-section">
            <div id="profile-display-name"><a>Violaine & Jeremy</a></div><a href="#"><img id="profile-image" src="https://mir-s3-cdn-cf.behance.net/user/138/2051365.53b7661e86615.png"></a>
            <div id="profile-details">
              <div id="profile-company">Violaine & Jeremy</div>
              <div class="profile-location has-website"><a href="#" class="profile-location-link beicons-pre beicons-pre-location">Paris, France</a></div><a id="profile-website" href="#">violaineetjeremy.fr/</a>
            </div>
            <div id="profile-actions">
              <div id="profile-action-follow" class="js-profile-action-follow profile-action">
                <div class="user-follow js-action-follow-user follow-button-container"><a class="form-button js-form-button-follow form-button-follow form-button-default form-button-left-icon form-button-icon-follow">Follow</a><a class="form-button form-button-following form-button-light-and-grey form-button-left-icon form-button-icon-following">Following</a><a class="form-button js-form-button-unfollow form-button-unfollow form-button-red form-button-left-icon form-button-icon-unfollow">Unfollow</a></div>
              </div>
              <div title="Message User" class="profile-action js-action-message-user js-adobeid-signup"><a class="form-button form-button-light-and-grey beicons-pre beicons-pre-mail">Message</a></div>
            </div><span class="js-nav-phone"></span>
          </div>
          <div id="profile-stats" class="profile-section content-minor-section content-mobile-first-section js-profile-stats">
            <div class="profile-stat">
              <div class="profile-stat-label profile-sidebar-label content-minor-secton-label beicons-pre beicons-pre-eye"><span class="stat-text">Project View</span></div>
              <div class="profile-stat-count"><a class="js-project-views-count">668016</a></div>
            </div>
            <div class="profile-stat">
              <div class="profile-stat-label profile-sidebar-label content-minor-secton-label beicons-pre beicons-pre-thumb"><span class="stat-text">Appreciations</span></div>
              <div class="profile-stat-count"><a class="js-appreciations-count">57755</a></div>
            </div>
            <div class="profile-stat">
              <div class="profile-stat-label profile-sidebar-label content-minor-secton-label beicons-pre beicons-pre-followers"><span class="stat-text">Appreciations</span></div>
              <div class="profile-stat-count"><a class="js-followers-count">57755</a></div>
            </div>
            <div class="profile-stat">
              <div class="profile-stat-label profile-sidebar-label content-minor-secton-label beicons-pre beicons-pre-following"><span class="stat-text">Appreciations</span></div>
              <div class="profile-stat-count"><a class="js-following-count">57755</a></div>
            </div>
          </div><span class="js-nav-desktop-tablet"></span>
          <div id="profile-nav" class="content-main content-section-nav js-profile-nav">
            <div class="js-iscroll-wrap profile-nav-inner content-nav-inner">
              <div style="width: 322px; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(0px, 0px, 0px);" class="profile-section-header content-section-header js-section-header js-iscroll"><a class="profile-section-header-item content-section-nav-item js-section js-iscroll-item show-tablet show-phone not-active">Info</a><a class="profile-section-header-item content-section-nav-item js-section js-iscroll-item active">Projects</a><a class="profile-section-header-item content-section-nav-item js-section js-iscroll-item not-active">WIP</a><a class="profile-section-header-item content-section-nav-item js-section js-iscroll-item not-active">Appreciated</a></div>
              <div class="profile-section-header content-section-header js-section-header js-iscroll profile-section-header-connections hide"></div>
              <form id="searchForm" class="js-search-form profile-search hide"></form>
            </div>
            <div class="js-profile-collection-select profile-collection-select hide"></div>
          </div>
          <div id="profile-info-wrap" class="js-profile-info-wrap content-section-wrap">
            <div id="profile-focus" class="profile-section content-minor-section">
              <h3 class="profile-sidebar-label content-minor-section-label">Focus</h3><a class="field">Art Direction</a><a class="field">Art Direction</a><a class="field">Art Direction             </a>
            </div>
            <div id="profile-featured" class="profile-section content-minor-section">
              <h3 class="profile-sidebar-label content-minor-section-label">Featured In<span class="featured-ribbon-wrap"><a href="#">
                    <div>
                      <div data-src="{{item.dataSrc}}" data-title="{{item.title}}" data-class="featured-ribbon"></div><img src="https://a2.behance.net/img/galleries/ribbons/1x/net.png" class="featured-ribbon">
                    </div></a></span></h3>
            </div>
            <div id="profile-web" class="profile-section content-minor-section">
              <h3 class="profile-sidebar-label content-minor-section-label">On The Web
                <ul id="profile-web-list">
                  <li><a class="ss-social">Facebook</a></li>
                  <li><a class="ss-social">Instagram</a></li>
                </ul>
              </h3>
            </div>
            <div class="profile-section content-minor-section">
              <h3 class="profile-sidebar-label content-minor-section-label">About.
                <Violaine>et Jérémy</Violaine>
              </h3>
            </div>
            <div id="profile-web-references" class="profile-section content-minor-section">
              <h3 class="profile-sidebar-label content-minor-section-label">Web References</h3>
              <div><a class="profile-web-reference">Prints shop</a></div>
              <div><a class="profile-web-reference">Facebook</a></div>
            </div>
            <div id="profile-date" class="profile-section content-minor-section"><span class="profile-date-text">Member since:<span class="profile-date">Jan 10, 2013</span></span><a class="js-action-spam profile-spam">Mark As Span</a></div>
          </div>
          <div id="gallery" class="content-main cfix js-gallery">
            <div class="profile-gallery-content-wrap">
              <div class="profile-gallery-content js-profile-gallery-content">
                <div data-id="{{item.dataId}}" data-ordinal="{{item.dataOrdinal}}" ng-repeat="item in itemLoad.items" class="js-item cover-block project-cover js-project-cover editable cfix first">
                  <div class="cover-img"><a href="{{item.coverImgLink}}" class="cover-img-link">
                      <div data-picture><img src="{{item.coverImgSrc}}" class="cover-img-el"></div></a></div>
                  <div class="cover-info-stats">
                    <div class="cover-info">
                      <div class="cover-name"><a href="{{item.coverNameLink}}" class="projectName cover-name-link">{{item.coverName}}</a></div>
                      <div class="cover-by-wrap">
                        <div class="cover-by">by</div>
                        <div class="cover-by-link"><a class="text-ellipsis single-owner-link"></a><span class="js-mini-profile">{{item.author}}</span></div>
                      </div>
                    </div>
                    <div class="cover-stats-fields-wrap">
                      <div class="cover-stat-wrap"><span class="cover-stat cover-stat-appreciations beicons-pre beicons-pre-thumb">{{item.appreciation}}</span><span class="cover-stat cover-stat-views beicons-pre beicons-pre-eye hide-phone">{{item.views}}</span><span class="featured tooltipi-container beicons-pre beicons-pre-featured-small"></span></div>
                      <div class="cover-fields"><a ng-repeat="tag in item" href="{{tag.link}}" class="field-link">{{tag.name}},</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="infinity-footer" class="js-footer"></div>
    </div>
    <div id="nav-basement" class="js-nav-basement"></div>
  </body>
</html>