doctype html
html(lang="en", ng-app="NewApp")
  head
    title= pageTitle
    link(type="text/css",rel="stylesheet",href="/styles/basic.css")
    link(type="text/css",rel="stylesheet",href="/styles/layout.css")
    link(type="text/css",rel="stylesheet",href="/styles/icons.css")
    link(type="text/css",rel="stylesheet",href="/styles/profile.css")

    script(src='bower_components/angular/angular.js')
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js")
    script(src='scripts/app.js')
    script(src='scripts/index.js')

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/about.js")
    <!-- endbuild -->


  body.logged-in.logged-in-1.corepacki.networki.responsive.profile.profile-page.show-cta.profile-creative.be-network.no-has-touch.has-placeholders.globalnav__external__no-touch(ng-controller="MainCtrl")
    nav#nav-wrap.js-nav-primary.dark-background.cannot-scrolled
      h1#logo
      <!-- ======= -->
      ul#notification
        li#inbox-icon.notifications-icon.notifications-inbox-icon.js-email-menu.beicons-pre.beicons-pre-mail
          .notifications-count 0
        li#bell-icon.notifications-icon.js-bell-menu.beicons-pre.beicons-pre-bell
          .notifications-count 0
      <!-- ======= -->
      #nav-primary-wrap
        ul#nav-primary.nav-list
          li.nav-item
            a.nav-item-link.active Activity
          li.nav-item
            a.nav-item-link.active Discover
            ul.nav-submenu
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-discover  Search & Explore
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-follow  Creatives to Follow
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-follow  Creatives to Follow
          li.nav-item
            a.nav-item-link.active My Portofolio
            ul.nav-submenu
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-owner  My Profile
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-members  My Team Page
              li.nav-item
                a.nav-item-link.active.beicons-pre.beicons-pre-prosite  My ProSite
          li.nav-item
            a.nav-item-link.active Jobs
            ul.nav-submenu
          li.nav-joblist Hiring Talent? 
          a.job-button.js-job-button.form-button.form-button-small.form-button-dark Post a Job
      #nav-login
        a#login-link.js-adobeid-signin.beicons-pre.beicons-pre-privacy  log in
    #top-panel.slide-panel
      a#top-panel-blocking
      .toolbar
          
      #site-content
        #profile-header-actions.layout-wrap.js-profile-header-actions
          #navmenui-breadcrumbs.js-navmenui-breadcrumbs
            span.breadcrumb-text
              a Discover
            span.rarr →
            span.breadcrumb-text Violaine & Jeremy
        #profile.content-container.layout-wrap
          #profile-info.profile-section.content-minor-section.content-mobile-major-section
            #profile-display-name
              a Violaine & Jeremy
            a(href="#")
              img#profile-image(src="https://mir-s3-cdn-cf.behance.net/user/138/2051365.53b7661e86615.png")
            #profile-details
              #profile-company Violaine & Jeremy
              .profile-location.has-website
                a.profile-location-link.beicons-pre.beicons-pre-location(href='#') Paris, France
              a#profile-website(href="#") violaineetjeremy.fr/
              
            #profile-actions
              #profile-action-follow.js-profile-action-follow.profile-action
                .user-follow.js-action-follow-user.follow-button-container.follow
                  a.form-button.js-form-button-follow.form-button-follow.form-button-default.form-button-left-icon.form-button-icon-follow Follow
                  a.form-button.form-button-following.form-button-light-and-grey.form-button-left-icon.form-button-icon-following Following
                  a.form-button.js-form-button-unfollow.form-button-unfollow.form-button-red.form-button-left-icon.form-button-icon-unfollow Unfollow
              .profile-action.js-action-message-user.js-adobeid-signup(title='Message User')
                a.form-button.form-button-light-and-grey.beicons-pre.beicons-pre-mail Message
                  
            span.js-nav-phone
          #profile-stats.profile-section.content-minor-section.content-mobile-first-section.js-profile-stats
            .profile-stat
              .profile-stat-label.profile-sidebar-label.content-minor-secton-label.beicons-pre.beicons-pre-eye
                span.stat-text Project View
              .profile-stat-count
                a.js-project-views-count 668016
            .profile-stat
              .profile-stat-label.profile-sidebar-label.content-minor-secton-label.beicons-pre.beicons-pre-thumb
                span.stat-text Appreciations
              .profile-stat-count
                a.js-appreciations-count 57755
            .profile-stat
              .profile-stat-label.profile-sidebar-label.content-minor-secton-label.beicons-pre.beicons-pre-followers
                span.stat-text Followers
              .profile-stat-count
                a.js-followers-count 57755
            .profile-stat
              .profile-stat-label.profile-sidebar-label.content-minor-secton-label.beicons-pre.beicons-pre-following
                span.stat-text Following
              .profile-stat-count
                a.js-following-count 57755
          span.js-nav-desktop-tablet
          #profile-nav.content-main.content-section-nav.js-profile-nav
            .js-iscroll-wrap.profile-nav-inner.content-nav-inner
              .profile-section-header.content-section-header.js-section-header.js-iscroll(style='width: 322px; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(0px, 0px, 0px);')
                a.profile-section-header-item.content-section-nav-item.js-section.js-iscroll-item.show-tablet.show-phone.not-active Info
                a.profile-section-header-item.content-section-nav-item.js-section.js-iscroll-item.active Projects
                a.profile-section-header-item.content-section-nav-item.js-section.js-iscroll-item.not-active WIP
                a.profile-section-header-item.content-section-nav-item.js-section.js-iscroll-item.not-active Appreciated
              .profile-section-header.content-section-header.js-section-header.js-iscroll.profile-section-header-connections.hide
              form#searchForm.js-search-form.profile-search.hide
            .js-profile-collection-select.profile-collection-select.hide
          #profile-info-wrap.js-profile-info-wrap.content-section-wrap
            #profile-focus.profile-section.content-minor-section
              h3.profile-sidebar-label.content-minor-section-label Focus
              a.field Art Direction, 
              a.field Art Direction, 
              a.field Art Direction
            #profile-featured.profile-section.content-minor-section
              h3.profile-sidebar-label.content-minor-section-label Featured In
              span.featured-ribbon-wrap
                a(href="#")
                  div
                    div(data-src="{{item.dataSrc}}",data-title="{{item.title}}",data-class="featured-ribbon")
                    img.featured-ribbon(src="https://a2.behance.net/img/galleries/ribbons/1x/net.png")
            #profile-web.profile-section.content-minor-section
              h3.profile-sidebar-label.content-minor-section-label On The Web
              ul#profile-web-list
                li
                  a.ss-social Facebook
                li
                  a.ss-social Instagram
            .profile-section.content-minor-section
              h3.profile-sidebar-label.content-minor-section-label About
              p Violaine et Jérémy
            #profile-web-references.profile-section.content-minor-section
              h3.profile-sidebar-label.content-minor-section-label Web References
              div
                a.profile-web-reference Prints shop
              div
                a.profile-web-reference Facebook
            #profile-date.profile-section.content-minor-section
              span.profile-date-text Member since:
                span.profile-date Jan 10, 2013
              a.js-action-spam.profile-spam Mark As Span
          #gallery.content-main.cfix.js-gallery
            .profile-gallery-content-wrap
              .profile-gallery-content.js-profile-gallery-content
                .js-item.cover-block.project-cover.js-project-cover.editable.cfix.first(data-id='{{item.dataId}}', data-ordinal='{{item.dataOrdinal}}', ng-repeat='item in itemLoad.items')
                  .cover-img
                    a.cover-img-link(href='{{item.coverImgLink}}')
                      div(data-picture)
                        img.cover-img-el(src= '{{item.coverImgSrc}}')
                  .cover-info-stats
                    .cover-info
                      .cover-name
                        a.projectName.cover-name-link(href='{{item.coverNameLink}}') {{item.coverName}}
                      .cover-by-wrap
                        .cover-by by
                        .cover-by-link
                          a.text-ellipsis.single-owner-link
                          span.js-mini-profile {{item.author}}
                    .cover-stats-fields-wrap
                      .cover-stat-wrap
                        span.cover-stat.cover-stat-appreciations.beicons-pre.beicons-pre-thumb {{item.appreciation}}
                        span.cover-stat.cover-stat-views.beicons-pre.beicons-pre-eye.hide-phone {{item.views}}
                        span.featured.tooltipi-container.beicons-pre.beicons-pre-featured-small
                      .cover-fields
                        a.field-link(ng-repeat='tag in item', href='{{tag.link}}') {{tag.name}},

      #infinity-footer.js-footer
    #nav-basement.js-nav-basement
